.DS_Store
Thumbs.db
.cache
.project
.settings
.svn
.CVS
cache
.parcel-cache/
.sass-cache/
*.sass-cache

# Dependencies
composer.lock
vendor/
!vendor/autoload.php
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Environment variables
.env
.env.example

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# Test/analysis
.phpcs-runner.xml
.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache
tests/coverage/html-coverage/*
coverage/

# Task files
.taskmaster/
tasks.json
tasks/
Tests/Unit/mock-plugin-file.php
